.correct {
    background-color: rgb(0, 255, 72);
  }
  
  .wrong {
    background-color: rgb(255, 0, 0);
  }

  #score{
    width: 300px;
  }

  #next-btn{
    display: flex;
    width: 100px;
    border-radius: 50px;

  }
 
  body {
    background-image: url("./img/7290664.jpg");
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
  }
  
  
  
  